body {
  margin: 0;
  padding: 0;
  text-align: center;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #ff3232 0%, #fcf528 16%, #28fc28 32%, #28fcf8 50%, #272ef9 66%, #ff28fb 82%, #ff3232 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(16%,#fcf528), color-stop(32%,#28fc28), color-stop(50%,#28fcf8), color-stop(66%,#272ef9), color-stop(82%,#ff28fb), color-stop(100%,#ff3232));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	background-size: 1000%;
	-moz-background-size: 1000%;
	-webkit-background-size: 1000%;	

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 40s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

/* W3C */
@keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

#wrapper {
  width:1000px;
  height:560px;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center center;
}

.conway, .conway-draw {
  width: 800px;
  background-color: #cecece;
  background:
    linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1)
      ),
     url("../images/background_1.jpg");
  background-size: cover;
  background-position: bottom;
  z-index: 2;
}

.conway ul {
  margin: 0;
  padding: 0;
}

.conway ul:after {
  content: "";
  clear: both;
  display: block;
}

.conway li {
  float: left;
  width: 8px;
  height: 8px;
  list-style: none;
}

.live {
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.radiate {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from { -webkit-box-shadow: 0 0 0 #FFF; }
  50% { -webkit-box-shadow: 0 0 18px #FFF; }
  to { -webkit-box-shadow: 0 0 0 #FFF; }
}

#left-buttons {
  background-color: #000;
  border-right: solid 1px #F5F5F5;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 50px 0;
  box-sizing: border-box;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-holder {
  height:160px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

#right-buttons {
  background-color: #000;
  border-left: solid 1px #F5F5F5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 50px 0;
  box-sizing: border-box;
  width:100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#draw-button {
  position: absolute;
  top: 37vw;
  right: 1.5vw;
  width: 20px;
}

.draw {
  background: transparent;
  border: none;
  opacity: 1;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.positions {
  background-color: #cecece;
  width: 200px;
  height: 100px;
  margin-top: 20px;
}

.play, .pause, .info, .seed, .glider, .small-exploder, .exploder,
.ten-cell-row, .spaceship, .tumbler, .gospel-glider-gun {
  background: transparent;
  border: none;
  opacity: 0.75;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

button img {
  width: 40px;
  height: 40px;
}

.add-objects:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/*Tooltips*/

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #F5F5F5;
    color: #050505;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    position: absolute;
    top: -35px;
    right: 40px;
    z-index: 3;
    opacity: 0;
    transition: all 1s;
}

.seed:hover .tooltiptext, .glider:hover .tooltiptext,
.small-exploder:hover .tooltiptext, .exploder:hover .tooltiptext,
.ten-cell-row:hover .tooltiptext, .spaceship:hover .tooltiptext,
.tumbler:hover .tooltiptext, .gospel-glider-gun:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: all 1s;
}

/*Modal*/

@-webkit-keyframes rainbow {
  0% {border-color: hsl(0, 100%, 50%);}
  20% {border-color: hsl(120, 100%, 50%);}
  40% {border-color: hsl(265, 100%, 50%);}
  60% {border-color: hsl(50, 85%, 57%);}
  80% {border-color: hsl(14, 100%, 50%);}
  100% {border-color: hsl(255, 100%, 50%);}
}

.rainbow_border{
  border: 1px solid hsl(0, 100%, 50%);
  border-radius: 5px;
  -webkit-animation: rainbow 5s infinite alternate;
}

.info-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  opacity: 0;
  width: 600px;
  height: auto;
  padding: 30px;
  font-size: 10%;
  background-color: rgba(0, 0, 0, 0.95);
  color: #F5F5F5;
  font-family: Roboto;
  z-index: -1;
  transition: opacity 1s;
}

.modal-text ul {
  list-style-position: inside;
}

.modal-text a {
  color: #FFF;
  text-decoration: underline;
}

.show-modal {
  opacity: 1;
  transition: all 1s;
  z-index: 3;
}

/*Colors*/

.red {
  background-color: #E94F37;
}

.green {
  background-color: #32E875;
}

.blue {
  background-color: #85C7F2;
}

.yellow {
  background-color: #F7F052;
}

.orange {
  background-color: #FF570A;
}

.purple {
  background-color: #D846DD;
}

.pink {
  background-color: #EDAFB8;
}
