body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.conway {
  width: 100vw;
  margin: 0;
  background-color: #cecece;
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
     url("../images/background_1.jpg");
  background-size: cover;
  background-position: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 0.5vw;
  height: 0.5vw;
  list-style: none;
}

.live {
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.radiate {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from { -webkit-box-shadow: 0 0 0 #FFF; }
  50% { -webkit-box-shadow: 0 0 18px #FFF; }
  to { -webkit-box-shadow: 0 0 0 #FFF; }
}

.play, .pause {
  background: transparent;
  position: absolute;
  top: 37vw;
  left: 1.5vw;
  border: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.pause {
  left: 4vw;;
}

.visible {
  opacity: 0.5;
  z-index: 1;
  transition: all 1s;
}

button img {
  width: 16px;
  height: 16px;
}

.add-objects:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/*Colors*/

.red {
  background-color: #E94F37;
}

.green {
  background-color: #32E875;
}

.blue {
  background-color: #85C7F2;
}

.yellow {
  background-color: #F7F052;
}

.orange {
  background-color: #FF570A;
}

.purple {
  background-color: #D846DD;
}

.pink {
  background-color: #EDAFB8;
}
